.main_container {
  min-height: 500px;
  font-size: 16px;
}
.multi-color-header {
  color: #09b256 !important;
}
.multi-color-header .alt {
  color: #0000ff;
}
.brand {
  color: #09b256 !important;
}
.brand .alt {
  color: #0000ff;
}
.blue {
  color: #0000ff;
}
.bold_text {
  font-weight: bold !important;
}
.center_text {
  text-align: center;
}
ul.check_marks {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-center: 10px;
}
ul.check_marks li {
  background: url('/img/checkmark.png') left center no-repeat;
  padding-left: 25px;
  margin-bottom: 10px;
}
.i_text {
  font-style: italic;
}
form.contact_form fieldset textarea {
  width: 400px;
}
form.contact_form fieldset .btn {
  display: block;
}
.amend_dump p {
  line-height: 39px;
}
